.accomodation {
  padding: 42px 18px 49px 18px;

  @media (min-width: $tablet-width) {
    padding: 60px 60px 55px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 61px 120px 66px 120px;
  }
}

.accomodation__heading {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.accomodation__heading-title {
  margin: 0 0 18px 0;
  font-size: 21px;

  @media (min-width: $tablet-width) {
    margin: 0 0 11px 0;
    font-size: 30px;
  }
}

.accomodation__heading-text {
  margin: 0;

  @media (min-width: $tablet-width) {
    white-space: pre-line;
  }
}

.accomodation__link {
  text-decoration: none;
  display: block;
  margin: 0 auto;
  max-width: 458px;
  padding: 16px 10px;
}
