.advantages {
  padding: 32px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 49px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 0 0 0;
  }
}

.advantages__heading {
  margin-bottom: 32px;
  padding-left: 10%;
  padding-right: 10%;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    padding-left: 18%;
    padding-right: 18%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    padding-left: 29%;
    padding-right: 29%;
  }
}

.advantages__heading-title {
  margin: 0 0 38px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 30px 0;
  }
}

.advantages__heading-text {
  margin: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  text-align: center;
  position: relative;
  padding: 8px 0 0 47px;

  @media (min-width: $tablet-width) {
    width: calc(100% / 3);
    padding: 159px 33px 60px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 169px 50px 64px 50px;
  }

  &:first-child {
    clip-path: polygon(50% 4%, 100% 1%, 100% 100%, 0 100%, 0 1%);

    @media (min-width: $tablet-width) {
      clip-path: none;
    }
  }

  &--full {
    padding: 0;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--home {
    margin: 29px 18px 25px 18px;
    text-align: left;

    @media (min-width: $tablet-width) {
      margin: 0;
      text-align: center;
    }
  }

  &--food {
    margin: 0 18px 25px 18px;
    text-align: left;

    @media (min-width: $tablet-width) {
      padding-top: 156px;
      margin: 0;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      padding-top: 166px;
    }
  }

  &--gift {
    margin: 0 18px 47px 18px;
    text-align: left;

    @media (min-width: $tablet-width) {
      padding-top: 154px;
      margin: 0;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      padding-top: 170px;
      padding-bottom: 48px;
    }
  }

  &--home::before,
  &--food::before,
  &--gift::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: $tablet-width) {
      top: 58px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 65px;
    }
  }

  &--home::before {
    background-image: url("../img/stack/stack.svg#icon-home");
    width: 39px;
    height: 37px;

    @media (min-width: $tablet-width) {
      width: 77px;
      height: 79px;
    }
  }

  &--food::before {
    background-image: url("../img/stack/stack.svg#icon-burger");
    width: 40px;
    height: 35px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 78px;
    }
  }

  &--gift::before {
    background-image: url("../img/stack/stack.svg#icon-gift");
    width: 40px;
    height: 40px;

    @media (min-width: $tablet-width) {
      width: 89px;
      height: 84px;
    }

    @media (min-width: $desktop-width) {
      transform: translateX(-50%) scaleX(1.15);
    }
  }

  &--order {
    background-color: #eeeeee;
    padding: 26px;

    @media (min-width: $tablet-width) {
      padding: 41px 33px 41px 33px;
    }

    @media (min-width: $desktop-width) {
      padding: 59px 50px 52px 50px;
    }
  }

  &--order:not(:last-child)::before {
    content: "";
    position: absolute;
    width: calc(100% - 36px);
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d6d6d6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tourists {
    padding-top: 21px;

    @media (min-width: $tablet-width) {
      padding-top: 41px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 60px;
    }
  }
}

.advantages__figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.advantages__figure picture {
  flex-grow: 1;
}

.advantages__figcaption {
  background-color: #81b3d2;
  padding: 54px 18px 40px 18px;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px 33px;
    width: calc(100% / 3);
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px 50px;
  }

  &--reverse {
    padding-top: 38px;
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      padding-top: 52px;
      padding-bottom: 32px;
      order: 2;
    }

    @media (min-width: $desktop-width) {
      padding-top: 59px;
      padding-bottom: 46px;
    }
  }
}

.advantages__figcaption .advantages__title,
.advantages__figcaption .advantages__number,
.advantages__figcaption .advantages__description {
  color: #ffffff;
}

.advantages__image {
  width: 100%;
  height: auto;
  max-height: 256px;
  object-fit: cover;
  display: block;
  flex-grow: 1;
}

.advantages__title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 11px 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-bottom: 13px;
  }

  &--town {
    @media (min-width: $desktop-width) {
      width: 122px;
      margin: 0 auto 13px auto;
    }
  }

  &--home,
  &--food,
  &--gift {
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }
  }

  &--gift {
    @media (min-width: $desktop-width) {
      margin-bottom: 2px;
    }
  }

  &--bridge {
    @media (min-width: $tablet-width) {
      width: 150px;
      margin: 0 auto 13px auto;
    }
  }

  &--road {
    @media (min-width: $tablet-width) {
      width: 150px;
      margin: 0 auto 13px auto;
    }
  }

  &--tourists {
    @media (min-width: $tablet-width) {
      width: 150px;
      margin: 0 auto 13px auto;
    }
  }

  &--area {
    @media (min-width: $desktop-width) {
      width: 150px;
      margin: 0 auto 13px auto;
    }
  }
}

.advantages__number {
  display: block;
  margin-bottom: 17px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }
}

.advantages__description {
  margin: 0;

  &--town {
    @media (min-width: $desktop-width) {
      width: 270px;
      margin: 0 auto;
    }
  }

  &--food {
    @media (min-width: $tablet-width) {
      width: 152px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 300px;
    }
  }

  &--gift {
    @media (min-width: $tablet-width) {
      width: 183px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: 220px;
      white-space: pre-line;
    }
  }

  &--road {
    width: 257px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 163px;
    }

    @media (min-width: $desktop-width) {
      width: 276px;
    }
  }

  &--tourists {
    @media (max-width: $mobile-width-only) {
      width: 257px;
      margin: 0 auto;
    }
  }

  &--bridge {
    @media (min-width: $desktop-width) {
      width: 220px;
      margin: 0 auto;
    }
  }
}
