.advantages {
  padding: 32px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 48px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 59px 0 0 0;
  }
}

.advantages__heading {
  margin-bottom: 32px;
  padding-left: 10%;
  padding-right: 10%;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
    padding-left: 18%;
    padding-right: 18%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    padding-left: 29%;
    padding-right: 29%;
  }
}

.advantages__heading-title {
  margin: 0 0 35px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 26px 0;
  }
}

.advantages__heading-text {
  margin: 0;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  text-align: center;
  position: relative;
  padding: 8px 0 0 47px;

  @media (min-width: $tablet-width) {
    width: calc(100% / 3);
    padding: 156px 33px 60px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 169px 50px 69px 50px;
  }

  &:first-child {
    clip-path: polygon(50% 5%, 100% 2%, 100% 100%, 0 100%, 0 2%);

    @media (min-width: $tablet-width) {
      clip-path: none;
    }
  }

  &--full {
    padding: 0;

    @media (min-width: $tablet-width) {
      width: 100%;
    }
  }

  &--home {
    margin: 31px 18px 25px 18px;
    text-align: left;

    @media (min-width: $tablet-width) {
      margin: 0;
      text-align: center;
    }
  }

  &--food {
    margin: 0 18px 25px 18px;
    text-align: left;

    @media (min-width: $tablet-width) {
      margin: 0;
      text-align: center;
    }
  }

  &--gift {
    margin: 0 18px 46px 18px;
    text-align: left;

    @media (min-width: $tablet-width) {
      margin: 0;
      text-align: center;
    }
  }

  &--home::before,
  &--food::before,
  &--gift::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-width: $tablet-width) {
      top: 62px;
      left: 50%;
      transform: translateX(-50%);
    }

    @media (min-width: $desktop-width) {
      top: 70px;
    }
  }

  &--home::before {
    background-image: url("../img/stack/stack.svg#icon-home");
    width: 39px;
    height: 37px;

    @media (min-width: $tablet-width) {
      width: 77px;
      height: 72px;
    }
  }

  &--food::before {
    background-image: url("../img/stack/stack.svg#icon-burger");
    width: 40px;
    height: 35px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 68px;
    }
  }

  &--gift::before {
    background-image: url("../img/stack/stack.svg#icon-gift");
    width: 40px;
    height: 40px;

    @media (min-width: $tablet-width) {
      width: 67px;
      height: 75px;
    }

    @media (min-width: $desktop-width) {
      transform: translateX(-50%) scaleX(1.15);
    }
  }

  &--order {
    background-color: #eeeeee;
    padding: 24px 26px;

    @media (min-width: $tablet-width) {
      padding: 41px 33px 63px 33px;
    }

    @media (min-width: $desktop-width) {
      padding: 52px 50px;
    }
  }

  &--order:not(:last-child)::before {
    content: "";
    position: absolute;
    width: calc(100% - 36px);
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #d6d6d6;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.advantages__figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #81b3d2;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.advantages__figure picture {
  flex-grow: 1;
}

.advantages__figcaption {
  background-color: #81b3d2;
  padding: 54px 18px 40px 18px;

  @media (min-width: $tablet-width) {
    padding: 52px 33px 31px 33px;
    width: calc(100% / 3);
  }

  @media (min-width: $desktop-width) {
    padding: 52px 50px 51px 50px;
  }

  &--reverse {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }
}

.advantages__figcaption .advantages__title,
.advantages__figcaption .advantages__number,
.advantages__figcaption .advantages__description {
  color: #ffffff;
}

.advantages__image {
  width: 100%;
  height: auto;
  max-height: 256px;
  object-fit: cover;
  display: block;
  flex-grow: 1;
}

.advantages__title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 11px 0;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.advantages__number {
  display: block;
  margin-bottom: 17px;
}

.advantages__description {
  margin: 0;
}
