.main-footer {
  padding: 33px 82px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 36px 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 120px;
  }
}

.main-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin: 0 auto 33px auto;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.main-footer__copyright {
  text-decoration: none;
  margin: 0 auto;
  padding-right: 40px;
  display: flex;
  flex-wrap: wrap;
  max-width: 140px;
  gap: 5px;
  align-items: center;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 27px;
    height: 36px;
    mask: url("../img/stack/stack.svg#icon-htmlacademy");
    background-color: #000000;
  }

  &-text {
    color: #000000;
  }

  &:hover &-text {
    color: #81b3d2;
  }

  &:hover::before {
    background-color: #81b3d2;
  }

  &:active &-text {
    color: #b3b3b3;
  }

  &:active::before {
    background-color: #b3b3b3;
  }
}
