.no-js {
    position: static;
  }

.no-js .main-header__logo {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

.no-js .main-nav__list {
    display: block;

    @media (min-width: $tablet-width) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
    }
  }

.no-js .main-nav__toggle {
    display: none;
  }
