.social {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 210px;
  gap: 6px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 48px;
  width: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }

  &:active::before {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--vk::before {
    background-image: url("../img/stack/stack.svg#icon-vk");
    width: 24px;
    height: 24px;
  }

  &--tme::before {
    background-image: url("../img/stack/stack.svg#icon-tme");
    width: 24px;
    height: 24px;
  }

  &--youtube::before {
    background-image: url("../img/stack/stack.svg#icon-youtube");
    width: 24px;
    height: 24px;
  }
}
