.video-presentation {
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 53px 60px 40px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 40px 84px 40px;
  }
}

.video-presentation__heading {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin-bottom: 89px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 87px;
  }
}

.video-presentation__heading-title {
  margin: 0 0 26px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.video-presentation__heading-text {
  width: 236px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 450px;
  }
}

.video-presentation__video {
  position: relative;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.video-presentation__poster {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    min-height: 500px;
  }
}

.video-presentation__link {
  width: 48px;
  height: 54px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url("../img/stack/stack.svg#icon-arrow");
  background-repeat: no-repeat;
  background-size: cover;

  &:hover {
    opacity: 0.8;
  }
}
